* {
    box-sizing: content-box;
}


body {
    background-color: grey;
    padding: 0px;
    font-family: Arial;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 100px;
    word-break: break-all;
}

h2{
	text-decoration: underline;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 0px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide columns by default */
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: black;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}






